html{
  scrollbar-width: thin;
}
body {
  background-color: rgba(255, 255, 255, 0.856);
  font-family: "Roboto", sans-serif;
}
#root{
  background-color: whitesmoke;
}

Header {
  height: 2rem;
  box-shadow: 1rem rgba(0, 0, 0, 0.274);
}
* {
  margin: 0;
  padding: 0;
}
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.withoutPadding{
  padding: unset !important;
}
ul , li {
  list-style-type: none;
}